<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" [routerLink]="['/home']">TuIA</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" [routerLink]="['/cobertura']" routerLinkActive="active">Cobertura</a>
        <a class="nav-item nav-link" [routerLink]="[ '/list/cobertura' ]" routerLinkActive="active">Lista de Coberturas</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/berlysoftware" target="_blank">
          <i class="fab fa-github-square fa-2x"></i>
        </a>
      </div>
    </div>
  </nav>