<div class="row">
  <div class="col-lg-12">
    <h1>Coberturas</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 form-group">
    <input type="search" id="search-coberturas" placeholder="Selecione um tipo abaixo ou informe um" class="form-control">
  </div>
</div>
<div class="row" id="button">
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-user-md fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Médico</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fab fa-pagelines fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Funeral</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-wheelchair fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Invalidez</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-edit fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Contratual</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-procedures fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Doenças</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="far fa-lemon fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Alimentação</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-blind fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Incapacidade</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-toolbox fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Laborativa</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-user-injured fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Acidente</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-transgender fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Cônjuge</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-car-crash fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Danos</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-capsules fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Farmácia</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-hand-holding-usd fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Auxílio</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-hands fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Familiar</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-diagnoses fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Congênita</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-hand-holding fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Despesas</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-oil-can fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Óleos</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="fas fa-recycle fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Reciclagem</h5>
      </div>
    </a>
  </div>
  <div class="col-md-2">
    <a class="btn btn-outline-primary">
      <span class="card-notify">
        <i class="far fa-question-circle"></i>
      </span>
      <span class="img-fluid">
        <i class="far fa-registered fa-3x"></i>
      </span>
      <div class="ad-title m-auto">
        <h5>Patentes</h5>
      </div>
    </a>
  </div>
</div>
