<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 col-xl-12">
    <h2>Qual o tipo de cobertura que você precisa?</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 form-group">
    <input type="search" id="search-coberturas" placeholder="Selecione um tipo abaixo ou informe um" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-12 col-xl-12">
    <app-cobertura-corretora></app-cobertura-corretora>
  </div>
</div>
